<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>

    <title>PetMarket - Create Product</title>
    <!-- Mi css -->
    <link rel="stylesheet" href="/css/productCreate.css">
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>

 <section class="formu-create">
  <section class="inicio-logo">
    <h4>Crear Nuevo Producto</h4>
    <img
      src="/img/Logo-pet-market.jpg"
      whith="360"
      alt="logo-pet-market"
      class="img"
    />
  </section>

      <form
        action="/products/create"
        method="POST"
        class="create-form"
        enctype="multipart/form-data"
      >
      <div class="create-form">
        <input class="control" type="text" name="name" id="name" placeholder="Nombre del Producto" >
      </div>

      <div class="create-form">
        <textarea name="description" id="description" placeholder="Descripcion del Producto" class="form-input"></textarea>
      </div>

      <div class="create-form">
        <input type="text" id="category"  placeholder="Categoria"  class="control">
        <select name="category">
        <option value="">Elegí una categoria</option>
        <option value= "alimentos">Alimentos</option>
        <option value="accesorios">Accesorios</option> 
        <option value= "aseo">Aseo</option>
        <option value= "juguetes">Juguetes</option>
      </select>
      </div>

      <div class="create-form">
        <input type="text"   id="mascota"  placeholder="Mascota"  class="control">
        <select name="pet">
        <option value="">Elegi una mascota</option> 
        <option value= "perros">Perro</option>
        <option value="gatos">Gato</option> 
      </select>
      </div>

      <div class="create-form">
        <input class="control" type="text" name="color" id="color" placeholder="Color del producto">
      </div>

      <div class="create-form">
        <input type="text"   id="weight"  placeholder="Peso de la unidad"  class="control">
        <select name="weight">
        <option value=""> Ingresa el peso</option>
        <option value="1"> 1 kg</option>
        <option value="3"> 3 kg</option>
        <option value="5"> 5 kg</option>
        <option value="15"> 15 kg</option>
      </select>
      </div>

      <div class="create-form">
        <input type="text" id="size"  placeholder="Tamaño"  class="control">
        <select name="size">
        <option value="">Elegí un tamaño</option>
        <option value= "chico"> Chico</option>
        <option value="mediano"> Mediano</option>
        <option value= "grande"> Grande</option>
      </select>
      </div>

      <div class="create-form">
        <input class="control" type="text" name="price" id="price" placeholder="Precio del producto">
      </div>

      <div class="create-form">
        <input class="control" type="text" name="discount" id="discount" placeholder="Descuento del producto">
      </div>

      <div class="create-form">
        <h4>Ingrese la imagen del producto:</h4>
        <input type="file" name="image" id="image">
      </div>

        <div>
          <button class="botton" type="submit" class="boton" value="Crear">Crear</button>
        </div>

      </form>
    </section>

    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
