<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head.ejs') %>

    <title>PetMarket - Home</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section class="contenido">
            <section class="contenido_ultima_visita">
                <h2 class="titulo">Promociones</h2>
                <article class="producto">
                    <a href="/productDetail"><img src="img/camas/Gatos/carpa.gato.jpg" alt="" class="product_img" /></a>
                    <section class="descripcion_producto">
                        <i class="fas fa-cat"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">$6.770</p>
                            <p class="descuento">40% off</p>
                        </section>
                        <p class="nombre_producto">Carpa Gato</p>
                    </section>
                </article>

                <article class="producto">
                    <img src="/img/accesorios/Gatos/collar-animalprint.jpg" alt="" />
                    <section class="descripcion_producto">
                        <i class="fas fa-dog"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">$230.000</p>
                            <p class="descuento">20% off</p>
                        </section>
                        <p class="nombre_producto">Collar AnimalPrint</p>
                    </section>
                </article>

                <article class="producto">
                    <img src="/img/camas/Perros/cama-circular.jpg" alt="" />
                    <section class="descripcion_producto">
                        <i class="fas fa-cat"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">$70.500</p>
                            <p class="descuento">10% off</p>
                        </section>
                        <p class="nombre_producto">Cama Circular</p>
                    </section>
                </article>

                <article class="producto">
                    <img src="/img/accesorios/Perros/correa-extensible.jpg" alt="" />
                    <section class="descripcion_producto">
                        <i class="fas fa-dog"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">$23.200</p>
                            <p class="descuento">5% off</p>
                        </section>
                        <p class="nombre_producto">Peluche Leon</p>
                    </section>
                </article>
            </section>

            <section class="oferta">
                <h2 class="titulo">Categorias</h2>

                <article class="producto">
                    <img src="/img/alimentos/Perros/dog-bones.jpg" alt="" />
                    <section class="descripcion_producto">
                        <i class="fas fa-dog"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">Alimento</p>
                        </section>
                        <p class="nombre_producto">
                            En esta sección encontrara todo lo relacionado para alimentar a
                            su mascota.
                        </p>
                    </section>
                </article>

                <article class="producto">
                    <img src="/img/accesorios/pet-accessories.jpg" alt="" />
                    <section class="descripcion_producto">
                        <i class="fas fa-cat"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">Accesorios</p>
                        </section>
                        <p class="nombre_producto">
                            En esta sección encontrara accesorios muy útiles para su
                            mascota.
                        </p>
                    </section>
                </article>

                <article class="producto">
                    <img src="/img/juguetes_mascotas/Perros/peluches.jpg" alt="" />
                    <section class="descripcion_producto">
                        <i class="fas fa-dog"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">Juguetes</p>
                        </section>
                        <p class="nombre_producto">
                            En esta sección encontrara todo lo relacionado para divertirse
                            con su mascota.
                        </p>
                    </section>
                </article>

                <article class="producto">
                    <img src="/img/aseo/aseo_mascotas.jpeg" alt="" />
                    <section class="descripcion_producto">
                        <i class="fas fa-cat"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">Cuidado e Higiene</p>
                        </section>
                        <p class="nombre_producto">
                            En esta sección encontrara todo para el aseo de su mascota.
                        </p>
                    </section>
                </article>
            </section>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>