@import url(normalize.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Azul-Oscuro: #0D3450;
  --Azul-Claro: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --Negro: #02020A;
  --Naranja: #EC673F;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: linear-gradient(90deg, rgba(18, 129, 144, 0.74), rgba(141, 215, 215, 0.98))
}

.inicio-header{
width: 100%;
padding: 0 20%;
display: flex; 
}

h4{
  font-size: 22px;
  margin: auto;
  color: var(--Negro);
}

.img{
  width: 20%;
}

.formu-registro {
  width: 300px;
  background: #C7EFCF;
  padding: 30px;
  margin:  auto;
  border-radius: 4px;
  color: var(--gris-claro)
}

.control{
width: 100%;
background: var(--azul);
padding: 10px;
border-radius: 4px;
margin-bottom: 15px;
border: 1px solid var(--gris-oscuro);
}

.control-formu {
   color: var(--Negro);

}

.checkbox{
  color: var(--Negro);
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.bottom{
  width: 100%;
  background: var(--azul);
  padding: 9px;
  color: var(--gris-claro);
  margin: 16px 0;
}

p{
  color: var(--Negro);
  height: 40px;
  font-size: 14px;
  
}

.formu-registro a{
  color: var(--Negro);
  text-decoration: none;
}

.formu-registro a:hover{
  color: var(--Negro);
  text-decoration: underline;
}