@import url(normalize.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ;
}

:root {
  --Azul-Oscuro: #20165d;
  --Azul-Claro: #28bed1;
  --caleste: #def7fa;
  --celeste-footer: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --Negro: #02020A;
  --Naranja: #EC673F;
  --azul-header: #254969;
}

header {
  font-family: 'Roboto', sans-serif;
  background-color: var(--azul-header);
}

a{
  text-decoration: none;
  color: var(--gris-claro);
}

img{
  max-width: 100%;
  vertical-align: top;
}

.bottom, input{
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

li {
  padding: 5px;
}


.encabezado {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 2rem 0;
}

.imagen_encabezado {
  vertical-align: top;
  width: 25%;
}

.barra_busqueda{
  background-color: var(--gris-claro);
  width: 35%;
  align-self: center;
  display: flex;
  border-radius: 4px;
}

.barra_busqueda form{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.campo_busqueda{
  width: 100%;
  display: inline;
}

.campo_busqueda input{
  width: 100%;
}

.icono_busqueda{
  background-color: var(--blanco);
  justify-self: flex-end;
  display: inline;
}

.credito{
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.credito div{
  display: inline;
}

nav{
  display: none;
}


p, li{
  font-size: 12px;
}

li{
  list-style: none;
}

.burger_menu{
  padding-bottom: 1rem;
  color: var(--blanco);
  width: 50%;
  align-self: center;
  text-align: center;
  margin: auto;
}

.burger_menu i{
  padding: 0.5rem;
  border-radius: 15%;
  background-color:  var(--azul);
}

.imagen_banner img{
  width: -webkit-fill-available;
  border: 1px solid var(--gris-oscuro);
}


/*--------------main----------*/

main {
  font-family: "Roboto", sans-serif;
  background-color: var(--gris-claro);
  height: 650px;
  display:flex;
  justify-content: center;
  align-items:center;
}

.inicio-logo{
  width: 100%;
  background-color: var(--caleste);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  align-content: space-around;
  flex-wrap: nowrap;
  }

h4{
  font-size: 22px;
  margin-bottom: 20px;
  padding-left: 20px;
  color: var(--Negro);
}

.img{
  width: 30%;
  margin-bottom: 3%;
}

.formu-registro {
  width: 400px;
  background: #def7fa;
  padding: 30px;
  margin:  auto;
  border-radius: 4px;
  color: var(--gris-claro);
  border: 1px solid var(--gris-claro);
  border-radius: 4px ;
  /*box-shadow: 10px 10px 5px 0px rgba(13,52,80,0.75);*/
}

.control{
width: 100%;
background: var(--gris-claro);
padding: 10px;
border-radius: 4px;
margin-bottom: 15px;
border: 1px solid var(--gris-oscuro);
}

.control-formu {
   color: var(--Negro);

}

.checkbox{
  color: var(--Negro);
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.bottom{
  width: 100%;
  background: var(--Azul-Claro);
  padding: 9px;
  color: var(--gris-claro);
  margin: 16px 0;
  border: none;
  border-radius: 5px;
}

.formu-registro a{
  color: var(--Negro);
  text-decoration: none;
}

.formu-registro a:hover{
  color: var(--Negro);
  text-decoration: underline;
}

.bottom:hover{
  background-color: var(--Naranja);
}

p{
  color: var(--Negro);
  height: 40px;
  font-size: 14px;
}

/*----footer-----*/

footer{
  background-color: white;
}

.pie_de_pagina{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie_de_pagina_detalle{
  padding: 2rem 3rem;
  text-align: center;
  max-width: 30rem;
}

.pie_de_pagina_detalle{
  font-size: 2rem;
  color: var(--azul);
  padding-bottom: 0.625rem;
}

.pie_de_pagina_detalle_icono:hover{
  color: var(--celeste-footer);
}

.pie_de_pagina_detalle h2{
  font-size: 16px
}

.copyright{
  text-decoration: none;
  padding: 1rem 1rem;
}


/*-------mediaqueri--------*/

:root {
  --gris-oscuro: #666666;
}

@media (min-width: 361px){

  .imagen_encabezado{
      width: 20%;
  }

  .barra_busqueda{
      width: 20%;
  }

  .credito{
      width: 30%;
      padding: 0;
      display: flex;
      align-items: center;
  }

  nav{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 1.5rem;
  }

  .nav_opciones{
      width: 40%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      text-align: center;
      padding: 2rem 0;
      align-items: center;
  }

  .burger_menu{
      display: none;
  }

}

@media (min-width: 769px){

  .pie_de_pagina{
      flex-direction: row;
      justify-content: space-between;
  }

  .campo_de_texto{
      width: 40%;
  }

  .boton{
      width: 40%;
  }
}
