* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-12 {
  position: relative;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

h2 {
  display: block;
  /* font-size: 1.5em; */
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* font-weight: bold; */
}

.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-title {
  font-size: 2.4em;
  font-weight: 400;
  color: gray;
  text-transform: capitalize;
}

.product-detail {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-left: 1px solid grey;
  padding: 15px;
  height: 100%;
}

.product-detail article {
  display: block;
}

.product-detail-title {
  font-weight: 400;
  font-size: 2.8em;
  text-transform: capitalize;
}

.product-detail-description {
  padding: 15px;
  font-size: 1.8em;
  line-height: 1.5;
  text-transform: capitalize;
}

.product-detail-price {
  font-size: 2.5em;
  margin: 10px 0;
}

.small {
  font-size: 1.8em;
  color: #1259c3;
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: #1259c3;
  font-size: 2em;
  margin-right: 15px;
}

.actions-list p {
  color: gray;
  font-size: 1.7em;
  margin: 0;
}

.cart-button {
  background-color: #01baefe6;
}

.buy-button {
  background-color: #1259c3;
}

.now-button {
  /* font-size: 1.6em; */
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

.action-button.edit {
  background-color: #03264C;
}
.action-button.delete {
  background-color: #FF0000;
}
