@import url(normalize.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* input {
  border: none;
  box-shadow: none;
  outline: none;
} */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: green;
}

/* ----------------------- CARRITO -----------------------*/

.head {
  margin-left: 10%;
}

.carrito {
  background-color: rgb(255, 185, 24, .5);
  border: 1px solid #000000;
  border-radius: 2%;
  margin: 10%;
  margin-bottom: 2%;
  margin-top: 10px;
  padding: 3%;
}

.producto {
  display: flex;
  position: relative;
  margin: 2%;
}

.remover {
  color: red;
  position: absolute;
  right: 10%;
  bottom: 17%;
  text-decoration: underline;
  font-weight: bold;
  font-size: 12px;
}

.foto-producto {
  width: 75px;
  height: 75px;
  border: 1px solid #000000;
  border-radius: 2%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cantidad {
  font-size: 12px;
}

.nombre-producto {
  font-size: 12px;
}

.precio {
  font-size: 12px;
  font-weight: bold;
}

.linea {
  border-top: 2px solid rgb(0,0,0,.5);
  max-width: 90%;
  padding: 0;
  margin: auto;
}

/* ----------------------- RESUMEN ----------------------- */

.resumen {
  background-color: rgb(255, 185, 24, .5);
  border: 1px solid #000000;
  border-radius: 2%;
  margin: 10%;
  margin-top: 10px;
  padding: 3%;
}

.cupon {
  font-size: 12px;
  margin-top: 3%;
}


.resumen-precios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.precio-resumen {
  font-size: 16px;
  font-weight: bold;
}

.boton {
  background-color: rgb(255, 185, 24);
  width: 100%;
  padding: 2%;
  font-weight: bold;
  border: 1px solid #000000;
  box-shadow: 0px 0px 5px 1px rgba(255, 185, 24);
}