@import url(normalize.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --Azul-Oscuro: #20165d;
  --Azul-Claro: #28bed1;
  --caleste: #def7fa;
  --celeste-footer: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --Negro: #02020a;
  --Naranja: #ec673f;
  --azul-header: #254969;
}

.a {
  color: var(--celeste-footer);
  text-decoration: underline;
}

h2{
  font-size: 22px;
  margin-bottom: 20px;
  padding-left: 20px;
  color: var(--Negro);
  text-align: center;
}

h4{
  font-size: 15px;
  margin-bottom: 5px; 
  color: var(--Negro);
}

.inicio-logo{
  width: 100%;
  background-color:var(--caleste);
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end; 
  padding: 2%;
  }

.img {
  width: 40%;
  margin-bottom: 4%;
}

.formu-create {
  width: 60%;
  background: #def7fa;
  padding: 30px;
  margin:  auto;
  border-radius: 4px;
  color: var(--gris-claro);
  border: 1px solid var(--gris-claro);
  border-radius: 4px ;
}

.create-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(222, 247, 250, 0.5);
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10%;
  margin-bottom: 2%;
  margin-top: 10px;
  padding: 3%;
}

input {
  border: none;
  background-image: none;
  background-color: transparent;
  color: var(--gris-oscuro);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.botton {
  background-color: var(--Azul-Claro);
  color: #02020a;
  padding: 2%;
  width: 20%;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s;
}

.botton:hover {
  background-color: var(--Naranja);
}

.radio{
color: var(--#02020a);
}

/*-------mediaqueri--------*/
@media (min-width: 768px) {
  .input {
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 12px;
    padding: 1%;
  }
}
