@import url(normalize.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ;
}

:root {
  --Azul-Oscuro: #20165d;
  --Azul-Claro: #28bed1;
  --caleste: #def7fa;
  --celeste-footer: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --Negro: #02020A;
  --Naranja: #EC673F;
  --azul-header: #254969;
}


.contact {
  position: relative;
  max-width: 420px;
  padding: 40px 20px;
  overflow: hidden;
  margin: 0 auto;
}

main {
    font-family: "Roboto", sans-serif;
    background-color: var(--gris-claro);
    
    height: 650px;
    display:flex;
    justify-content: center;
    align-items:center;
  }

.imagUser {
  text-align: center;
  width: 140px;
  border-radius: 50%;
}

.perfil {
    width: 400px;
    background: #def7fa;
    padding: 30px;
    margin:  auto;
    border-radius: 4px;
    color: var(--gris-claro);
    border: 1px solid var(--gris-claro);
    border-radius: 4px ;
}
h2{
    color: var(--Azul-Oscuro);
    text-align: center;
}
.bottom{
    width: 100%;
    background: var(--Azul-Claro);
    padding: 9px;
    color: var(--gris-claro);
    margin: 16px 0;
    border: none;
    border-radius: 5px;
  }
