<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Links de fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet" />
    <!-- Links de iconos-->
    <script
      src="https://kit.fontawesome.com/fa6449574a.js"
      crossorigin="anonymous"
    ></script>
    <!-- Links de CSS-->
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <title>Marquet Pets</title>
  </head>
  <body>
    <header>
      <nav>
        <div>
            <img src="/img/Logo-Pet-Market.png" alt="Logo de Pet Market" >
        </div>
        <ul class="nav-derecho">
          <li>
            <a href="/register">Creá tu cuenta <i class="fa-regular fa-address-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresar <i class="fa-solid fa-right-to-bracket"></i></a>
          </li>
          <li>
            <a href="#"
              >Mis compras <i class="fa-solid fa-basket-shopping"></i
            ></a>
          </li>
        </ul>
        </nav>
        <selec>
            <ul>
                <li>Perros</li>
                <li>Gatos</li>
                <li>Destacados</li>
                <li>Categorias</li>
            </ul>
        </selec>
    <div>
    <input type="text" nema="busqueda" id="buscar" placeholder="Buscador" > <i class="fa-solid fa-magnifying-glass"></i>
    </div>


        </section>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
