<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- etiqueta de response -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Marquet Pets Login</title>
    <!-- Link de Fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <!--Link Normalize-->
    <link href="/css/normalize.css" rel="stylesheet" type="text/css" />

    <!--Link de inconos-->
    <script
      src="https://kit.fontawesome.com/fa6449574a.js"
      crossorigin="anonymous"
    ></script>

    <!--Link Css-->
    <link href="css/style.login.css" rel="stylesheet" type="text/css" />

  </head> 
<body>
  <header>

    <section class="inicio-header">
      <h4> Iniciar sesion</h4>
      <img src="img/Logo-pet-Market.jpg" whith= "360" alt="Cafetera" class="img"/>
    </section>

  </header>

  <main>
    <section class="formu-registro">
        <form action="/login" method="POST" class="crear-formu">

        <div class="control-formu">
          <input class="control" type="email" name="email" id="email" placeholder="Correo Electonico" required />
        </div>

        <div class="control-formu">
          <input class="control" type="password" name="password" id="password" placeholder="Contraseña" required />
        </div>

        <div class="control-formu">
          <input class="control" type="password" name="password" id="password" placeholder="Confirmar Contraseña"required />
        </div>

        <p class="olvidaste"><a href="#"> ¿Olvidaste tu contraceña? </a></p>

        <div>
        <button class="bottom" type="submit" ><a href="/">Iniciar Sesion</a></button> </button>
        </div>

        <div>
          <button class="bottom" type="submit" > <a href="/register">Eres nuevo? Registrate aqui. </a></button> </button>
        </div>
    

        </form>
        </section>
  </main>
<footer>

</footer>
</body>
</html>