<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- etiqueta de response -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Mercado Liebre</title>
    <!-- Link de Fonts-->
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <!--Link Normalize-->
    <link href="/css/normalize.css" rel="stylesheet" type="text/css" />

    <!--Link de inconos-->
    <script
      src="https://kit.fontawesome.com/fa6449574a.js"
      crossorigin="anonymous"
    ></script>

    <!--Link Css-->
    <link href="css/style-login.css" rel="stylesheet" type="text/css" />

  </head> 
<body>
  <header>
    <section>
        <img src="img/Logo-pet-Market.jpg" whith= "360" alt="Cafetera" class="img"/>
    </section>
  </header>
  <main>

    <section>
        <h4> Ingresar</h4>
      <form action="/login" method="POST" class="crear-formu">

        <div class="control-formu">
          <label>Nombre de usuari@</label>
          <input type="text" name="Nombre" id="Nombre" placeholder="Usuario" required class="control"/>
        </div>

        <div class="control-formu">
          <label>Contraceña</label>
          <input type="password" name="password" id="password" required />
        </div>

        <div class="control-formu">
          <label>Confirmar Contraceña</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div>
        <button type="submit" class="boton-formu"> <a href="/">Ingresar</a> </button>
    </div>
        </form>
  </main>
<footer>

</footer>
</body>
</html>