<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section class="border-top">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">SOBRE NOSOTROS</h6>
          <p>
            <i class="fab fa-linkedin text-warning"></i>
            <a
              href="https://www.linkedin.com/in/yesica-farias-b45760115/"
              target="_blank"
              rel="noreferrer noopener"
              ><span class="text-dark">Yesica Farias</span>
            </a>
          </p>
          <p>
            <i class="fab fa-linkedin text-warning"></i>
            <a
              href="https://www.linkedin.com/in/carlos-andres-nore%C3%B1a-cruz-3a689983/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <span class="text-dark">Carlos Noreña</span>
            </a>
          </p>
          <p>
            <i class="fab fa-linkedin text-warning"></i>
            <a
              href="https://www.linkedin.com/in/mart%C3%ADn-faraguna-6ab136196/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <span class="text-dark">Martin Faraguna</span>
            </a>
          </p>
          <p>
            <i class="fab fa-linkedin text-warning"></i>
            <span class="text-dark">German</span>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Categorias</h6>
          <p>
            <a class="text-reset" href="/products/list/alimentos">Alimentos</a>
          </p>
          <p>
            <a class="text-reset" href="/products/list/accesorios"
              >Accesorios</a
            >
          </p>
          <p>
            <a class="text-reset" href="/products/list/juguetes">Juguetes</a>
          </p>
          <p>
            <a class="text-reset" href="/products/list/aseo"
              >Cuidado e Higiene</a
            >
          </p>
        </div>
        <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
          <p><i class="fas fa-home me-3"></i> Av. Corrientes 12345</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            contacto@petmarket.com.ar
          </p>
          <p><i class="fas fa-phone me-3"></i> + 54 11 123 4567</p>
        </div>
        <div class="col-md-5 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Links</h6>
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="#">DHGroup1.com</a>
  </div>
</footer>
