<header>

  <section class="encabezado">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark" data-bs-theme="light" style="background-color: transparent">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <a class="nav-link active" style="color: white" aria-current="page" href="/"><img
                src="/img/Logo-pet-market-small.png" alt="Logo" class="d-inline-block align-text-top"></a>
          </a>
          <a class="navbar-brand">Pet Market</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" style="color: white" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products/list/perros">Perros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products/list/gatos">Gatos</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Categorias
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/products/list/alimentos">Alimentos</a></li>
                  <li><a class="dropdown-item" href="/products/list/accesorios">Accesorios</a></li>
                  <li><a class="dropdown-item" href="/products/list/juguetes">Juguetes</a></li>
                  <li><a class="dropdown-item" href="/products/list/aseo">Cuidado e Higiene</a></li>
                </ul>
              </li>
              <% if (locals.isAdmin) { %>
              <li class="nav-item">
                <a class="nav-link" href="/products/create">Vender</a>
              </li>
              <% } %>
            </ul>

            <% if (locals.user && !locals.isAdmin) { %>
              <ul class="navbar-nav me-2">
                <li class="nav-item">
                  <a class="nav-link" href="/products/cart">
                    <i class="fas fa-shopping-cart"></i>
                  </a>
                </li>
              </ul>
            <% } %>

            <form class="d-flex" role="search" action="/products/search" method="get">
              <input class="form-control rounded me-2" type="search" placeholder="Search" aria-label="Search" name="search">
              <button class="btn btn-outline-success" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </form>

            <ul class="navbar-nav navbar-right">
              <ul class="navbar-nav aling-items-center">
                <% if (locals.isLog) { %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <img src="/img/users/<%= locals.userLogueado.image %>" width="40" style="border-radius: 100%;">
                      Hola <%= locals.userLogueado.nombre %>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/users/userProfile"> Mi Perfil</a>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <a class="dropdown-item" href="/users/logout">Cerrar sesion</a>
                    </ul>
                  </li>
              </ul>
              <% } else { %>
                <ul class="navbar-nav aling-items-center">
                  <li class="nav-item">
                    <a class="nav-link" href="/users/register"><i class="fas fa-user-plus"></i> Registrarse</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/login"> <i class="fas fa-right-to-bracket"></i> Iniciar Sesion</a>
                  </li>
                  <% } %>
                </ul>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="imagen_banner">
      <img src="/img/img-home-banner-general.jpg" alt="banner">
    </div>

</header>