<header>

    <section class="encabezado">
        <div class="imagen_encabezado">
            <a href="/"><img src="/img/Logo-pet-market-small.png" alt="Logo PetMarket"></a>
        </div>

        <nav>
            <ul class="nav_opciones">
                <li>
                    <a href="/products/list/perros">Perros</a>
                </li>
                <li>
                    <a href="/products/list/gatos">Gatos</a>
                </li>
                <li>
                    <a href="#">Promociones</a>
                </li>
            </ul>
            <ul class="nav_opciones">
                <li>
                    <a href="#">Categorías</a>
                </li>
                <li>
                    <a href="/users/login">Iniciar Sesión</a>
                </li>
                <li>
                    <a href="/products/cart">Mis compras</a>
                </li>
                <li>
                    <a href="/products/create">Vender</a>
                </li>
            </ul>
        </nav>

        <section class="barra_busqueda">
            <form action="/" method="POST">
                <div class="campo_busqueda">
                    <input type="text" placeholder="Buscá productos, marcas y más" required>
                </div>

                <div class="icono_busqueda">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </section>
    </section>

    <div class="burger_menu">
        <i class="fa fa-bars burger"></i>
    </div>

    <div class="imagen_banner">
        <img src="/img/img-home-banner-general.jpg" alt="banner">
    </div>

</header>