<!DOCTYPE html>
<html lang="en">
  <!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs') %>

        <title>PetMarket - Login</title>
        <!--Link Css-->
        <link href="css/login.css" rel="stylesheet" type="text/css" />
    </head>

<body>

    <%- include('../partials/header.ejs') %>

<main>
    <section class="formu-registro">

      <section class="inicio-logo">
        <h4> Iniciar Sesión</h4>
        <img src="img/Logo-pet-Market.jpg" alt="Logo" class="img"/>
      </section>

        <form action="/login" method="POST" class="crear-formu">

        <div class="control-formu">
          <input class="control" type="email" name="email" id="email" placeholder="Correo Electrónico" required />
        </div>

        <div class="control-formu">
          <input class="control" type="password" name="password" id="password" placeholder="Contraseña" required />
        </div>

        <p class="olvidaste"><a href="#"> ¿Olvidaste tu contraseña? </a></p>

        <div>
        <button class="bottom" type="submit" ><a href="/">Iniciar Sesión</a></button> </button>
        </div>

        <div>
          <button class="bottom" type="submit" > <a href="/register">Eres nuevo? Regístrate aquí. </a></button> </button>
        </div>

        </form>
        </section>
      </main>

      <%- include('../partials/footer.ejs') %>

</body>
</html>