<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs') %>

  <title>PetMarket - Login</title>
  <!--Link Css-->
  <link href="/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <%- include('../partials/header.ejs') %>

  <main>
    

  </main>

  
  <%- include('../partials/footer.ejs') %>

</body>

</html>